#cardlayout{
    border-radius: 20px;
    background-color: #bfdffe;
    padding: 20px;
    width: 40%;
}

#funddetails{
    list-style: none;
    border-radius: 20px;
    background-color: #d5eaff;
    padding: 20px;
}